body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black; 
    text-align: justify;
    background-color: rgb(184, 205, 243);
}

.main {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 15px;
}

.column {
    align-self: flex-start;
    width: 50%;
}

img.resume {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#left {
    width: 88%;
    margin-left: 11%;
}

#right {
    width: 88%;
    margin-right: 11%;
    margin-left: 5px;
}

h1 {
    font-weight: normal;
    font-size: 28px;
}

.banner {
    align-items: left;
    justify-content: left;
    display: flex;
    background-color: whitesmoke;
    margin-left: 5.5%; 
    margin-right: 5.5%;
    border: black;
    border-width: 1px;
    border-style: solid;
    padding: 0px;
    padding-left: 40px;
}

#download {
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 11%;
    max-width: 120px;
}

#back {
    text-align: center;
    background-color: whitesmoke;
    padding: 10px; 
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-right: 11%;
    margin-left: 75%;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black; 
}

a:visited {
    text-decoration: none;
    color: rgb(88, 88, 88);
}

#photo {
    width: 100%; 
    margin-left: 80px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

p.description {
    margin-left: 120px;
    margin-right: 80px;
}

img.icon {
    width: 40%;
    margin-left: 45%;
    justify-self: left;
}

.info {
    align-self: center;
    width: 13%;
}

.maincontact {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin-top: 15px;
}

p.contact {
    text-align: left;
    font-size: 24px;
    margin-left: 10%;
}

.info2 {
    align-self: center;
    width: 87%;
}