body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black; 
    text-align: justify;
    background-color: rgb(184, 205, 243);
}

.main {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 15px;
}

.column {
    justify-content: center;
    width: 50%;
}

h1 {
    font-weight: normal;
    font-size: 28px;
}

.banner {
    align-items: left;
    justify-content: left;
    display: flex;
    background-color: whitesmoke;
    margin-left: 5.5%; 
    margin-right: 5.5%;
    border: black;
    border-width: 1px;
    border-style: solid;
    padding: 0px;
    padding-left: 40px;
}

#back {
    text-align: center;
    background-color: whitesmoke;
    padding: 10px; 
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-right: 11%;
    margin-left: 75%;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black; 
}

a:visited {
    text-decoration: none;
    color: rgb(88, 88, 88);
}

p {
    text-align: center;
}

img.left {
    margin-left: 11%;
    margin-right: auto;
    display: block;
    background-color: white;
    width: 80%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

img.right {
    margin-left: auto;
    margin-right: 11%;
    display: block;
    background-color: white;
    width: 80%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#back {
    text-align: center;
}